@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bakbak One', cursive;
}

.container {
    max-width: 1440px;
    max-height: 1024px;
    margin: 0 auto;
    background-color: #FFEBD8;
}

header {
    max-width: 1440px;
    max-height: 1024px;
    background: url('/homecss.svg') no-repeat;
    background-position: center 88px;
    margin: 0 auto;
    background-color: #FFEBD8;
}

.container nav {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container nav ul {
    display: flex;
    list-style: none;
    width: 256px;
    justify-content: space-between;
}

.container nav ul li a {
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 648px;
    height: 56px;
    border: 28px solid #000b6d;
    border-radius: 6px;
    justify-content: center;
}

.logo h1 {
    color: #FCAB61;
    font-size: 24px;
}

.logo p {
    color: #FFFFFF;
    font-size: 16px;
}

.header-info {
    width: 784px;
    height: 360px;
    margin-left: 216px;
    margin-top: 176px;
}

.header-title {
    color: #FF9533;
    font-size: 40px;
}

.header-content1 {
    color: #FF9533;
    font-size: 24px;

}

.calculate {
    text-align: center;
}

.calculate .header-content2 {
    position: absolute;
    width: 1219px;
    top: 613px;
    left: 124px;
    font-family: "Bakbak One-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.cal h1 {
    font-size: 12px;
}

.cal-btn nav {
    max-width: 1440px;
    max-height: 1024px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal-btn nav ul {
    display: flex;
    list-style: none;
    width: 256px;
    justify-content: center;
}

.cal-btn nav ul li a {
    color: #FCAB61;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 160px;
    height: 56px;
    border: 28px solid #000b6d;
    border-radius: 6px;
    justify-content: center;
}
